<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.LikeMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_like (video_id, likes_bitmap) VALUES (#{videoId}, #{likesBitmap})
    </insert>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user_like (user_id, likes_bitmap) VALUES (#{userId}, #{likesBitmap})
    </insert>
    <update id="update">
        update tb_like set likes_bitmap = #{likesBitmap} where video_id = #{videoId}
    </update>
    <update id="updateUser">
        update tb_user_like set likes_bitmap = #{likesBitmap} where user_id = #{userId}
    </update>
</mapper>
